
.ErrorMessege {
    font-family: Arial;
    color: red;
    text-decoration: underline;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    text-decoration: underline;
}